@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');
:root{
    --titlefont: 'Cinzel', serif;
    --textfont:'Montserrat', sans-serif;
    --motivationalSentencefont: 'Lobster Two', cursive;
    --mainbackground: #CDEBE8;
    --buttonBackround: #64A2AF ;
    --fontColor: #3f3f41; 
    --titleColor:  #11104f;
}
.titleHabitHub{
    font-family: var(--titlefont);
    color: var(--titleColor);
}

.jumbotron{
    position: relative;
    background-color: var(--mainbackground);
    height: 50vh;
    padding: 2rem;
    /* z-index: -2; */
    /* opacity: 0.5; */
}

.welcomeVideo{
    z-index: 1;
    position: absolute;
    height: 50%;
    width: 60%;
    margin: auto;
    opacity: 0.8;
}

.quotationContainer{
    height: 10vh;
    width: 50%;
    margin: 15vh auto 7vh;
    text-align: center;
}
.motivationalQuote{
    font-family: var(--motivationalSentencefont);
    color: var(--fontColor);
}
/* removing bootstrap css */
.navbar{
    background-color: var(--mainbackground);  
    position: relative;
    justify-content: flex-end;
    padding: 0;
    
}

.table-buttons {
    display: flex;
    justify-content: space-between;
}
